@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');


#logo{
color: #fff;
margin-left: 10px;
padding-top: 0px;
text-transform: uppercase;
}
.nav-wrapper {
    background-color: #050b10;
}

.btn,
.btn-primary {
    color: #fff;
    text-align: center;
    }


/*--------------------------------------- Navbar*/

.navbar,
.nav-item {
    color: #fff;  
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    text-transform: uppercase; 
 }

body {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
}

/*--------------------------------------- Header*/

.hero-image {
    height: 500px;
    max-width: 100%;  
    background: url('../images/hero-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.training-image {
    height: 500px;
    width: 100%;
    background: url('../images/Training-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.contact-image {
    height: 500px;
    width: 100%;
    background: url('../images/Contact-us-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.contactUs {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.learn-more-btn {
    background-color: #28a745;
    border-color: #28a745;
    margin-left: 50%;
    margin-top: 25%; 
    position: absolute;

}


.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
     
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-success {
    color: #fff;
    border-color: #28a745;
    
}

.submitbutton {
    color: #6c757d;
}
h2 {
    color: #fff;   
    text-transform: uppercase;
    text-align: center;
}

.image-text {
    margin-top: 200px;
    margin-bottom: 200px;
}
.about-section {
    background-color: #dddddd;
    height: 500px;
    
}
#about-text {
    color: black;
}