@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

#logo {
    color: rgb(44, 41, 41);
    margin-left: 10px;
    padding-top: 0px;
    text-transform: uppercase;
}

#logo a {
    text-decoration: none;
    color: rgb(44, 41, 41);
}

h2 {
    color: #fff;   
    text-transform: uppercase;
    text-align: center;
}

h3, h5 {
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 1.3rem;
    text-align: center; 
}


/*--------------------------------------- Navbar*/


.navbar {
    position: fixed;
    background-color: #fafafa;
     z-index: 99999;
     width: 100%;
}

.navbar-nav{
  float: left;
  margin-left: 60%;
}

.nav-item {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase; 
    float: right;
    position: relative;
    list-style-type: none;
    display: flex;  
   
}

.nav-item a {
    font-size: 1.5em;
    padding: 0 70px;
    text-decoration: none;
    color: #777777; 
    justify-content: right;
}

a:hover {
    color: #1a1818;  
}

.nav-item .active {
     color:rgb(44, 41, 41);
     font-weight: 500;
}


 
/*--------------------------------------- Page Hero Images*/

.hero-image {
    height: 500px;
    width: 100%;  
    background: url('../images/hero-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

/*
.success-message {
    height: 310;
    width: 100%;
    background: url('../images/girl-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    
}

.success-message p {
    color: #fafafa;
}

.success-message a:hover {
    color: #fafafa;
}
*/
.training-image {
    height: 500px;
    width: 100%;
    background: url('../images/Training-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.contact-image {
    height: 500px;
    width: 100%;
    background: url('../images/Contact-us-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.contactUs {
    margin: 0 auto;
    max-width: 70%;
    width: 50%;

    justify-content: space-between;
    padding: 1rem 1rem;
   
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.contact-text {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.training-wrapper {
    padding-top: 10%;
    background-color: #f6f6f6;
}
.form-group {
    padding-top: 10px;
}
/*--------------------------------------- Body*/

body {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    background-color: #eaeaea;

}

/*--------------------------------------- dividers*/

hr {
    width: 100px;
    height: 5px;
    border: 0;
    background-color: #28a745;
}


/*---------------------------------------  Contents for Home,Training and ContactUs pages*/
.image-text {
    margin-top: 200px;
    margin-bottom: 200px;
    padding-top: 5%;    
}

#about-text,
#training-text {
    color: black;
}

.about-section,
.training-section {
    height: 400px;
    text-align: center;
    padding-top: 5%;
}

.one-training {
    height: 500px;
    max-width: 100%;  
 
    background: url("../images/one-to-one-image.jpg") no-repeat right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: block;
    overflow: hidden;
    position: relative;
}

.group-training {
    height: 500px;
    max-width: 100%;    
   
    background: url('../images/group-training-image.jpg') no-repeat left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: block; 
    overflow: hidden;  
}

.one-on-one-container,
.group-container {
    padding-top: 5%;
    padding-bottom: 2%;
    height: 100%;
}

.one-on-one-container p,
.group-container p {
    padding-top: 5%;
}

.opening-hours {
    padding-top: 10%;
    padding-bottom: 2%;
}


/*--------------------------------------- Buttons*/

.learn-more-btn {
    background-color: #28a745;
    border-color: #28a745;
    margin-left: 47%;
    margin-top: 25%; 
    position: absolute;
}

.btn,
.btn-primary {
    color: #fff;
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
     
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-success {
    color: #fff;
    border-color: #28a745;
    
}

.submit-button {
    color: #6c757d;
    margin-top: 10px;
}


/*--------------------------------------- Modal*/

.modal {
    position: relative;
    margin-top: 40%;
}


/*--------------------------------------- Footer*/


footer {
 height: 85px;
 background-color: #fafafa;
}

footer p {
    font-size: smaller;
    padding-top: 15px;
}

.socialmedia {
    width: 100%;
    display: inline;
    justify-content: center;
    padding-top: 10px;
    margin-left: 40%;
  
}

.socialmedia a {
    font-size: 1.5em;
    padding: 0 50px;
}

.socialmedia i {
      color: #777777;
}




/*----------------------------------Media Queries */
/*
@media (min-width: 768px){
    .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    }
}

@media screen and (max-width: 795px) {

.hero-image {
    max-width: 100%;
}

.learn-more-btn {
        margin-top: 50%;
        padding-top: 10px;
        
}

.about-section,
.opening-hours,
.training-section,
.contact-text,
.contactUs {
        width:100%;
        height: 100%;
        margin: 0 auto;
}

    .image-text {
        padding-top: 20%;
    }

    .socialmedia {
        text-align: center;
        display: block;
        width: 100%;
        margin-left: 5%;
        padding-left: 5px;  
    }

    .one-training,
    .group-training {
        display: none;
    }

}


@media screen and (max-width: 1200px) {

    .about-section,
    .opening-hours,
    .training-section,
    .contact-text,
    .contactUs {
        width:90%;
        height: 100%;
        margin: 0 auto;
    }

    .image-text {
        padding-top: 20%;
    }

    .socialmedia {
        text-align: center;
        display: block;
        padding-left: 5px;   
        
    }
   
}
*/


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .socialmedia {
        width: 50%;
        display: inline;
        margin: 0 25%;  
        padding: 0 15px;    
    }

    .socialmedia a {
    font-size: 1.0em;
    padding: 0 5px;
}
.image-text {
        padding-top: 20%;
    }

.learn-more-btn {
        margin-top: 50%;
        padding-top: 10px;
        
}

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 

      .socialmedia {
        width: 40%;
        display: inline; 
        margin: 0 25px;       
            
    }

        .socialmedia a {
    font-size: 1.5em;
    padding: 0 5px;
    

 }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
       .socialmedia {
        width: 40%;
        display: inline;
        margin: 0 25%;        
            
    }

        .socialmedia a {
    font-size: 1.5em;
    padding: 0 40px;
    

 }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

     .socialmedia {
        width: 40%;
        display: inline;
              
            
    }

    .socialmedia a {
    font-size: 1.5em;
    padding: 0 40px;
    
 }

 }
