@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
}

h1{
color: #fff;
padding-top: 0px;
text-transform: uppercase;
}

.btn,
.btn-primary {
    color: #fff;
    text-align: center;
    }


/*--------------------------------------- Navbar*/

.navbar {
     color: #fff;  
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    text-transform: uppercase;
    
 
}

.container{
    height: 100vh;
    width: 100%;
  
    background: url('../images/hero-image.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-2{
    background: url('../images/Training-image.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--------------------------------------- Header*/

